.mobile .input{
    margin: 1rem;
}

.mobile .form{
    margin: 2rem;
    width:auto;
}

.mobile .form input{
    margin-bottom: 1rem;
}

.mobile .header{
    height: 44px;
}


.mobile .home-header{
    height: 88px;
    background: #ec6d1e;
    position: relative;
    text-align: center;
}

.mobile .home-header img{
    margin-left: 8px;
    max-width: 80vw;
    margin-top: 8px;
}
.mobile .header img{
    margin-left: 8px;
    max-width: 80vw;
    margin-top: 2px;
}

.mobile .locale{
    float: right;
    margin: auto;
    margin-right: 4px;
}

.mobile  .carousel-img-box{
    width: 100%;
    left: 0;
    height: auto;
    padding-top: 56.25%;
}

.mobile .carousel{ 
    height:auto;
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
}

.mobile .form{
    margin: 1rem;
}

.mobile .deliver-details{
    margin: 1rem;
}

.mobile .footer{
    margin: auto;
    width: 100%;
}

.mobile .txtcenter img{
    max-width: 100%;
}

.mobile .about{
    margin: 16px;
}

.mobile .qrcode{
    text-align: center;
    float: none;
}